$iconWidth: 36px;
$tip-pane-width: 340px;
.leaflet-draw-toolbar {
  border-radius: 4px;
  .tool-button-item {
    position: relative;
    .tool-button-icon {
      width: $iconWidth;
      font-size: 18px;
      aspect-ratio: 1 / 1;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 5px 10px;
      flex: 1;
      &:hover {
        // background-color: #f4f4f4;
        color: #40d9ff80;
      }
      .defaulted {
        color: #000000;
      }
      .activeItem {
        color: #40d9ff;
      }
    }
    .item-selected {
      color: #40d9ff;
      border: solid 1px #40d9ff;
    }
    .cancel-btn {
      position: absolute;
      width: $iconWidth;
      aspect-ratio: 1 / 1;
      background: #40d9ff;
      line-height: $iconWidth;
      left: -#{$iconWidth + 1px};
      top: 0px;
    }
  }
}
.leaflet-bar {
  background-color: #ffffff90;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 0px #9fa8b9;
  position: absolute;
  width: max-content;
  display: flex;
  align-items: center;
  right: 50px + $iconWidth;
  gap: 3px;
  top: 0px;
  .item-bar {
    padding: 3px;
    background: linear-gradient(41deg, #40d9ff5c 50%, #40d9ffa3 50%);
  }
}
.leaflet-edit-toolbar {
  width: 700px;
}
.leaflet-topology-toolbar {
  width: 380px;
}
