.leaflet-draw-toolbar {
  $iconWidth: 36px;
  border-radius: 4px;
  .tool-button-item {
    position: relative;
    .tool-button-icon {
      width: $iconWidth;
      font-size: 18px;
      aspect-ratio: 1 / 1;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 5px 10px;
      flex: 1;
      &:hover {
        // background-color: #f4f4f4;
        color: #40d9ff80;
      }
      .defaulted {
        color: #000000;
      }
      .activeItem {
        color: #40d9ff;
      }
    }
    .item-selected {
      color: #40d9ff;
      border: solid 1px #40d9ff;
    }
    .cancel-btn {
      position: absolute;
      width: $iconWidth;
      aspect-ratio: 1 / 1;
      background: #40d9ff;
      line-height: $iconWidth;
      left: -#{$iconWidth + 1px};
      top: 0px;
    }
  }
}
