.map-container {
  width: 100%;
  height: 100%;
  position: relative;
  .sample-check-edit-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  // 底图
  .layerList {
    position: absolute;
    right: 0px;
    bottom: 40px;
    height: 80px;
    padding: 10px;
    z-index: 600;
    background-color: #ffffff80;
    display: flex;
    gap: 10px;
    .layerItem {
      position: relative;
      background-image: url("./images/map-style.png");
      height: 60px;
      overflow: hidden;
      border: solid 1px transparent;
      transition: all 0.6s ease-out;
      transition-delay: calc(sibling-index() * 100ms);
      // box-shadow: 0px 0px 0px 0px #000000;
      .layerName {
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 2px 4px;
        letter-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.54);
        color: #ffffff;
        font-size: 12px;
      }
      .layerOption {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 0px 2px;
        letter-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.54);
        color: #ffffff;
        display: flex;

        font-size: 10px;
        opacity: 0; // 默认隐藏
        visibility: hidden; // 默认隐藏
        transition: all 0.3s ease; // 过渡效果
      }
      &:hover {
        border: solid 1px #1275ff;
        .layerName {
          background-color: rgb(22, 121, 219);
        }
        .layerOption {
          opacity: 1; // 单个 item 悬浮时显示
          visibility: visible; // 单个 item 悬浮时显示
        }
      }
    }
    &:hover {
      gap: 10px;
      /* hover时，展开 */
      .layerItem {
        width: 86px !important;
        transform: translateX(0px) !important;
      }
    }
  }
  // 经纬度
  .lnglat {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 3px 0px 3px 15px;
    background-color: #ffffff80;
    z-index: 400;
    display: flex;
    gap: 5px;
  }
  // 绘制工具
  .draw-tools {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 400;
  }
}
